<div class="register">
  <mat-card>
    <mat-card-title>Registrate</mat-card-title>

    <form class="form-note" [formGroup]="register">


      <div class="avatar">
        <div>{{register.value.email | firstLetter | uppercase }}</div>
      </div>


      <mat-form-field appearance="legacy">
        <mat-label>Correo</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <div style="display: grid;  grid-template-columns: 1fr 1fr; gap: 1rem">
        <mat-form-field appearance="legacy">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Repetir Contraseña</mat-label>
          <input type="password" matInput formControlName="password2">
        </mat-form-field>
      </div>
    </form>

    <mat-card-actions>
      <button [disabled]="register.invalid" (click)="registerUser()" mat-button>Registrarse</button>
    </mat-card-actions>
  </mat-card>
</div>
