<div class="bg"></div>

<mat-toolbar class="mat-elevation-z4" color="primary">
  <button routerLink="/" mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
  <span>Mis Notas</span>
  <span style="flex: 1 1 auto;"></span>

  <button *ngIf="!user.validate" routerLink="/login" mat-button>Inicia sesión</button>
  <button *ngIf="!user.validate" routerLink="/register" mat-button>Registrate</button>
  <button *ngIf="user.validate" (click)="logOutUser()" mat-button>Cerrar sesión</button>

</mat-toolbar>
<router-outlet></router-outlet>
